@page
@model LogoutModel
@{
    ViewData["Title"] = "Cerrar sesión";
}
<div class="formularios">
    <div class="espacio">
        <header>
            <h1>@ViewData["Title"]</h1>
            <p>Haz cerrado sesión de forma exitosa.</p>
        </header>
    </div>
</div>